{% extends "layout.html" %}

{% block title %}
    HISTORY
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for his in his_d %}
            <tr>
                <td class="text-start">{{ his["symbol"] }}</td>
                <td class="text-end">{{ his["shares"] }}</td>
                <td class="text-end">{{ his["price"] | usd }}</td>
                <td class="text-end">{{ his["transacted"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
