{% extends "layout.html" %}

{% block title %}
    INDEX
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-center">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in trans_d %}
            <tr>
                <td class="text-start">{{ trans["symbol"] }}</td>
                <td class="text-center">{{ trans["shares"] }}</td>
                <td class="text-end">{{ trans["price"] | usd }}</td>
                <td class="text-end">{{ (trans["price"]*trans["shares"]) | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{cash | usd}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">$10,000.00</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
